.nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    text-decoration: none;
    list-style-type: none;
}

.listaNav img {
    width: 100px;
    height: 100px;
   
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
}