body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}
.nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    text-decoration: none;
    list-style-type: none;
}

.listaNav img {
    width: 100px;
    height: 100px;
   
}

.footer {
    margin-top: auto; 
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    
}

.App {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
   
}